<form action="/cad" method="post">
    <p>TITULO</p>
    <input type="text" name="titulo">
    <p>CONTEÚDO:</p>
    <textarea name="conteudo"></textarea>
    <button type="submit">CADASTRAR</button>
</form> 
